name: Generate Lock File
on: workflow_dispatch

jobs:
  lockfile:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Generate lock file
      run: |
        nuget restore "Ink Canvas.sln"
        msbuild -t:restore "Ink Canvas/InkCanvasForClass.csproj" /p:RestorePackagesWithLockFile=true
        
    - uses: actions/upload-artifact@v4
      with:
        name: lockfile
        path: Ink Canvas/packages.lock.json